/node_modules
/public/mix-manifest.json
/public/hot
/public/storage
/pubilc/css/app.css
/public/js/app/js
/storage/*.key
/vendor
/.idea
/.vagrant
/storage/debugbar
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.local
.php_cs.cache

storage/app/public/.DS_Store
