/.idea
/node_modules
/pubilc/css/app.css
/public/hot
/public/js/app.js
/public/storage
/storage/*.key
/storage/debugbar
/vendor
.DS_Store
.env
.php_cs.cache
.phpstorm.meta.php
_ide_helper.php
npm-debug.log
yarn-error.log
