.menu.is-dark {

  .menu-list {
    a {
      color: rgba(255, 255, 255, 0.5);

      &:hover {
        background: $dark;
        color: $light;
      }

      &.is-active {
        background: $dark;
        color: $light;
      }
    }
  }

  .menu-label {
    color: rgba(255, 255, 255, 0.4);
  }

}



.menu {
  .menu-label {
    font-weight: bold;
  }

  .menu-list a {
    .icon {
      color: $grey-light
    }

    &.is-active .icon {
      color: $menu-item-active-color;
    }

    &:hover .icon {
      color: $menu-item-hover-color;
    }
  }
}
