.full-height {
  min-height: 100vh;
}

.has-text-capitalized {
  text-transform: uppercase;
}

.has-padding-right-3 {
  padding-right: $size-3;
}

.has-text-public {
  @extend .has-text-success;
}

.has-text-private {
  @extend .has-text-warning;
}

.has-text-draft {
  @extend .has-text-danger;
}

.section.is-small {
  padding: 0.75rem;
}

@each $name, $pair in $colors {
  .has-background-#{$name} {
    background-color: nth($pair, 1);
  }
}

@each $name, $color in $shades {
  .has-background-#{$name} {
    background-color: $color;
  }
}

@each $name, $pair in $colors {
  .border-bottom-#{$name} {
    border-bottom: 3px nth($pair, 1) solid;
  }
}

@each $name, $color in $shades {
  .border-bottom-#{$name} {
    border-bottom: 3px $color solid;
  }

  .border-dashed-#{$name} {
    border: 1px $color dashed;
  }
}

