
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-header-light {
  background-color: #fff;
  border-bottom: none;
}

.h-screen {
  min-height: 100vh;
}

.h-brand {
  height: 72px;
}

.w-brand {
  width: 72px;
}

.flex-1 {
  flex: 1;
}

.flex-nav {
  flex: 0 0 24em;
}

.\-order-1 {
  order: -1;
}

.fill-current {
  fill: currentColor;
}