.directory {
  @extend .has-text-centered;

  .directory-item {
    @extend .image;
    @extend .is-64x64;
    margin: $size-7;
    border-radius: 50%;
    font-size: $size-2;
    color: $light;
    background-color: rgba($primary, 0.5);

    abbr {
      text-decoration: none;
    }

    .popover {
      display: none;
      position: absolute;
      top: 0;
      left: 70px;
      z-index: 99;

      width: fit-content;
      max-height: 64px;
      height: 64px;
      padding: 16px;

      background: #2A6292;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      line-height: 32px;
      font-size: 16px;
      text-align: left;
      word-wrap: normal;
      white-space:nowrap;
    }

    &:hover {
      background-color: $primary;
      border-radius: $radius-large;
      transform: scale(1.1);

      .popover {
        display: block;
        z-index: 99;
      }
    }

    &.is-active {
      background-color: $primary;
      border-radius: $radius-large;

      &:before {
        content: "";
        position: absolute;
        left: -17px;
        min-height: 64px;
        width: 10px;
        background-color: $light;
        border-radius: $radius-large;
      }
    }
  }

  .directory-brand {
    padding-bottom: $size-6;
    margin-bottom: $size-6;
    box-shadow: 0px 23px 0px -20px $primary;

    .directory-item {
      background: none;

      &:hover {
        background: none;
      }
    }

    .brand-image {
      fill: $brand;

      &:hover {
        fill: $light;
      }
    }
  }
}

