// Wrappable code tag for api keys which are crazy long
p.code {
  @extend code;

  &.is-wrapped {
    word-break: break-all;
  }
}

// Make the Bulma box element act more like a Bootstrap panel (I know, blasphemous)
.box {
  padding: $size-5 1px 1px 1px;

  &.is-danger {
    -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px $danger;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px $danger;
  }

  h1 {
    @extend .subtitle;
    border-bottom: 1px $grey-lighter solid;
    padding-bottom: $size-5;
    padding-left: $size-5;
    padding-right: $size-5;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .box-body {
    padding: $size-5;
  }

  .table {
    margin-bottom: 0px;
  }
}

// Tone down the placeholder, and make it disappear when the input is focused
.input {
  &::placeholder {
    color: $grey-light;
  }
  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

// Adjust footer padding since we're using it inside a container
.footer {
  padding: 3rem 0;
}
