// Colors
$brand: #2789CA;
$primary: #347AB7;
$dark: #2A6292;
$menu-item-color: rgba(255,255,255,0.5);
$menu-label-color: rgba(255,255,255,0.4);
$menu-item-hover-background-color: $dark;
$menu-item-hover-color: whitesmoke;
$menu-item-active-background-color: $dark;

// Tweaks
$radius: 0.5rem;
