@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "variables";

@import "~bulma";

@import "tweaks";
@import "directory";
@import "utilities";
@import "list-group";
@import "menu";

footer div.container {
    position: absolute;
    bottom: 32px;
    right: 0;
}

.rotate {
  text-align: left;
  white-space: nowrap;
  vertical-align: middle !important;
  width: 1.5em;
}

.rotate div {
  -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
  -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
  margin-left: -5em;
  margin-right: -5em;
}
