@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import "variables";

@import "~bulma";

@import "directory";
@import "utilities";
@import "list-group";
@import "menu";

.box {
  padding: $size-5 1px;

  h1 {
    @extend .subtitle;
    border-bottom: 1px $grey-lighter solid;
    margin-bottom: $size-5;
    padding-bottom: $size-5;
    padding-left: $size-5;
    padding-right: $size-5;
  }

  .box-body {
    padding: 0 $size-5;
  }
}

.panel-block,
.panel-tabs {
  background-color: #fff;
}
