// Fonts
@import "node_modules/line-awesome/dist/css/line-awesome-font-awesome.min";

// Variables
@import "variables";

// Bulma
@import "~bulma";

section.hero.is-primary {
  div.hero-head {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.nav-item {
  img {
    max-height:    41px;
    width:         41px;
    padding-right: 8px;
  }
  span.title {
    font-size: 23px;
  }
}

.body {
  display:        flex;
  min-height:     100vh;
  flex-direction: column;
}

#app {
  flex: 1;
}

footer.footer {
  padding:    2rem 1.5rem 1rem;
  background: $grey-darker;
  div.is-inverted {
    color: $text-invert;
    a {
      color: $grey-light;
      &:hover {
        color: $grey;
      }
    }
  }
}

@import "modpacks";
@import "aliases";
