div.is-overlay{
  img.modpack-card__logo{
    height: auto;
    width: 85%;
    position: relative;
  }
}
.modpack-card__overlay{
  display: flex;
  flex: 1 1 0%;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.modpack-card__action{
  display: flex;
  justify-content: space-around;
  &.is-danger{
    color: $danger;
  }
}
.modpack-card__title{
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 10px !important;
  font-size: $size-5;
}
.modpack-card__privacy{
  color: $text-light;
}